{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="content.css">
<h2 class="heading">
    Kontakt
</h2>
<p>
    Eventet arrangeras av Metal Capitol.
</p>
<p>
    För frågor kring eventet, kontakta: <a class="mailto" href="mailto:contact@metalcapitol.se">contact@metalcapitol.se</a>
</p>
<p>
Tillhör du ett band och vill delta och/eller har frågor kring framträdandet, vänligen kontakta: <a class="mailto" href="mailto:bands@metalcapitol.se">bands@metalcapitol.se</a>. 
</p>
{% endblock %}
