{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="content.css">

<h2 class="heading">Information</h2>
<p>
Här hittar du all information vad gäller festivalens upplägg.
</p>

<h3 class="heading">Kickstarter</h3>
<p><b>Länk kommer snart!</b></p>

<p>Vecka 13 kommer vi dra igång en kickstarter-kampanj, och desto mer support ni ger oss - desto större, desto bättre kommer vi kunna göra Gothenburg Metal Championship.</p>
<p>Målet är inte onåbart - <b>100 early bird biljetter</b> sålda säkerställer att eventets arrangörer inte kommer gå back på genomförandet.</p>
<p>Når kickstarten närmare <b>300 biljetter</b> sålda finns möjligheten att utöka finaldagen från att inte enbart hållas den <b>14e juni</b> utan även den <b>15e juni</b> + möjligheten boka några av metalscenens större band!</p>

<h3 class="heading">Deltävlingar</h3>

<ul class="eventlist">
    <li>4 inledande rundor på <a href="https://maps.app.goo.gl/AYeqHQATQ5nkBgvc7"><b>The Abyss</b></a></li>
    <li>4 kvartsfinaler på <a href="https://maps.app.goo.gl/AYeqHQATQ5nkBgvc7"><b>The Abyss</b></a></li>
    <li>2 semifinaler på <a href="https://maps.app.goo.gl/AYeqHQATQ5nkBgvc7"><b>The Abyss</b></a></li>
</ul>


<h3 class="heading">Finalen</h3>
Finalen hålls den 14 Juni på <a href="https://maps.app.goo.gl/pjFmtJbgB319vMQX7"><b>Gothenburg Metal Temple</b></a>.

{% endblock %}
