{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="content.css">

<h2 class="heading">
    Bandregistrering
</h2>
<p>
Borde ert band delta i årets (kanske) mäktigaste event? Klart ni ska!
</p>
<p>
Registreringen sker via att skicka ett mejl till <a class="mailto" href="mailto:bands@metalcapitol.se">bands@metalcapitol.se</a> med följande info:
</p>

<ul>
    <li>bandets namn,</li>
    <li>vad ert band handlar om,</li>
    <li>erfarenheter,</li>
    <li>och kanske viktigast av allt, länk till <b>er musik</b>! Vi tar <b>enbart</b> emot länkar till etablerade streaming tjänster som spotify, bandcamp, soundcloud osv. Skicka ej filmer eller ljudfiler, vi kommer inte öppna dem!</li>
</ul>
<p>
För övriga frågor gällande eventet, skicka mejl till <a class="mailto" href="mailto:contact@metalcapitol.se">contact@metalcapitol.se</a>
</p>
{% endblock %}
