{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="content.css">

<h2 class="heading">
    Bandregistrering
</h2>
<p>
Borde ert band delta i årets (kanske) mäktigaste event? Klart ni ska!
</p>

<p> Registreringen sker via att skicka ett mejl till <a class="mailto" href="mailto:bands@metalcapitol.se">bands@metalcapitol.se</a> med följande info:</p>

<ul>
    <li>bandets namn,</li>
    <li>kontaktinformation till bandansvarig,</li>
    <li>kort biografi om ert band</li>
    <li>och kanske viktigast av allt, länkar till <b>er musik</b>!
</ul>
<p>
Vi tar <b>enbart</b> emot länkar till etablerade streamingtjänster som spotify, bandcamp, soundcloud och youtube. Skicka ej bilagor som filmer eller ljudfiler, vi kommer inte öppna dem!
</p>
<p>
För övriga frågor gällande eventet, skicka mejl till <a class="mailto" href="mailto:contact@metalcapitol.se">contact@metalcapitol.se</a>
</p>
<h3 class="heading">
    Vänta inte för länge!
</h3>
<p>Första datumet är den <b>5:e April</b> och då kommer alla band vara valda. </p>
{% endblock %}
