.content {
    padding-top: 100px;
    font-size: 20px;
    width: 80%;
}

.mailto {
    color: var(--gmc-lightgold);
}

.heading {
    color: var(--gmc-lightgold);
}

b {
    color: var(--gmc-lightblue);
}
